/* Resetting default margin and padding */
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Styles for Header */
#nav-container {
  width: 100%;
  height: 20%;
  background-color: #3c3939;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-img {
  width: 90px;
  margin-right: 20px;
}

#nav-container ul {
  list-style-type: none;
  display: flex;
}

#nav-container ul li {
  margin-right: 20px;
  color: white;
  font-size: 21px;
  cursor: pointer;
}

/* Styles for Restaurant Card */
.res-container{
  width: 100%;
  height: 80%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.res-card {
    width: 25%;
    height: 20%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.res-logo {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.res-card h3 {
  margin: 3px;
  font-size: 17px;
  font-weight: 600;
}



.search {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
}


